{% extends 'base.html' %}

{% block PageTitle %}Forget Password{% endblock PageTitle %}

{% block formData %}
<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
    <form method="POST" action="{% url 'Verify_Password_Token' forget_token=token %}">
        {% csrf_token %}
        <div class="form-outline mb-4">
            {% if messages %}
                {% for message in messages %}
                    <p id="message">{{message}}.<p>
                {% endfor %}
            {% endif %}
        </div>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <p>Please Set New Password And Also Confirm It Bellow.<p>
    </div>
      
    <!-- Password input -->
        <div class="form-outline mb-4">
            <input required type="password" class="form-control form-control-lg" placeholder="Password" name="password"/>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input required type="password" class="form-control form-control-lg" placeholder="Confirm Password" name="cpassword"/>
        </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
    </form>
</div>
{% endblock formData %}